<div class="history">
	<div class="cd-timeline-header">
	<h2 id="Experenice">Experience</h2>
<hr class="bar"/>
</div>
<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">
	<img src="../assets/img/college.svg" alt="Picture"/>
</div>
<!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2 class="story-heading">HCOE CSIT</h2>
		<P>Currently studying CSIT in Himalaya College of Engineering. I am in the 6th semester and currently training in: <ul>
		<li> Ruby on Rails in Techrise</li>
		<li> PHP in Ocean Intl </li>
		<li> Java in college </li>
		</P>
<span class="cd-date">2013-Today</span>
</div>
<!-- cd-timeline-content-->
<!-- cd-timeline-block-->
</div>
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-movie">
	<img src="../assets/img/idea14.svg" alt="College"/>
</div><!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2>DOTA2 champions</h2>
		<p>An event held in HCOE, me and my team were able to pick up the first place for the second time. DOTA2 is a LAN game which belongs in a MMORPG genre.</p>
<span class="cd-date">April 2015</span>
</div>
<!-- cd-timeline-content-->
<!-- cd-timeline-block--></div>
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-picture">
	<img src="../assets/img/web-programming.svg" alt="Picture"/>
</div>
<!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2>Software Developer</h2>
	<p>Working in a mobile application PhoneGarr. This app contains all the contacts of different branch of our Engineering college in a single app. You can contact a person just by clicking in his/her name.</p>
<span class="cd-date">February 2016 - August 2016</span>
</div>
<!-- cd-timeline-content-->
<!-- cd-timeline-block-->
</div>
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
	<img src="../assets/img/graduate38.svg" alt="Location"/>
</div><!-- cd-timeline-img-->
<div class="cd-timeline-content">
	<h2>Education</h2>
	<p>
		<ul>
			<li><B>Certificate of School Level</B></li>
			<p>Mahendra Adarsha Vidyshram Higher Secondary School</p>
			<li><B>Certificate of High School Level</B></li>
			<p>Moonlight Higher Secondary School</p>
			<li><B>Certificate of Bachelors in Computer Science and Information Technology</B></li>
			<p>Himalaya College of Engineering(currently studyin)</p>
	</p>
<!--<span class="cd-date">Sept 2014 - Sept 2015</span>-->
</div>
<!-- cd-timeline-content-->
<!-- cd-timeline-block-->
</div>
<!--
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
	<img src="../assets/img/hosting.svg" alt="Location"/>
</div>
-->
<!-- cd-timeline-img-->
<!--
<div class="cd-timeline-content">
	<h2>Integration Engineer with Example</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</p>
<span class="cd-date">May 2015 - Current</span>
</div>
-->
<!-- cd-timeline-content-->
<!-- cd-timeline-block-->
<div class="cd-timeline-block">
	<div class="cd-timeline-img cd-location">
	<img src="../assets/img/question30.svg" alt="Location"/>
</div>
</div><!-- cd-timeline--></div></section>
<div class="cd-timeline-header">
	<h2>
</h2>
</div>
</div>